$roboto-font: "Roboto", sans-serif;
$color-orange: #D5966C;
$color-black: #151515;
$color-white: #FFFFFF;
$color-gray: #444444;
$heading-font-family: 'Big Shoulders', cursive;
$heading-font-weight: 900;
$headingXL-font-size: 96px;
$headingL-font-size: 70px;
$headingM-font-size: 60px;
$headingS-font-size: 36px;
$headingXL-line-height: 88px;
$headingL-line-height: 70px;
$headingM-line-height: 50px;
$headingS-line-height: 36px;
$body-font-family: 'Outfit', sans-serif;
$body-font-weight: 400;
$bodyM-font-size: 22px;
$bodyS-font-size: 18px;
$bodyM-line-height: 32px;
$bodyS-line-height: 28px;

