.hero-container {
    max-width: 480px;
    min-width: 320px;
    width: 100%;

    & .hero-img {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;

        & figure {
            height: 100%; 
            margin: 0;

            & img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
            }
        }      
    }

    & .hero-text {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;

        & h1 {
            @include heading-style(M);
            margin-bottom: 30px;
        }

        & p {
            @include body-style(S);
            color: $color-gray;
            margin-bottom: 30px;
        }
        & .black-button a {
            @include gallery-button-style('next');
        }
    }

    @include breakpoint(tablet) {
        max-width: 100%; 
        display: flex;   
        flex-direction: row; 
        align-items: center; 

        & .hero-img {
            width: 437px; 
            height: 700px; 
            margin-bottom: 0; 
            flex-shrink: 0; 
            position: relative;
            z-index: 0;
            
            & figure, & figure img {
                height: 100%;
                width: 100%;
                object-fit: cover; 
            }
        }

        & .hero-text {
            margin-left: -110px; 
            background-color: transparent; 
            position: relative;
            z-index: 1;
            padding-left: 65px; 
            padding-right: 40px;
            padding-top: 60px; 
            padding-bottom: 60px;             
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
            flex-grow: 1;
            text-align: left;
            max-width: none; 

            & h1 {
                font-size: 60px;
                line-height: 60px;
            }
        }
    }

    @include breakpoint(desktop) {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 450px 1fr; 
        grid-template-rows: 800px; 
        position: relative;
        padding: 0;

        &::before {
            content: '';
            grid-column: 1 / 2; 
            grid-row: 1;        
            background-color: $color-black;
            width: 450px;
            height: 100%;
            z-index: 1; 
        }

        & .hero-img {
            grid-column: 2 / 3; 
            grid-row: 1;
            width: 540px;
            height: 100%;
            margin: 0;
            z-index: 1; 
            
            & figure, & figure img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        & .hero-text {
            grid-column: 1 / -1; 
            grid-row: 1;
            position: relative; 
            z-index: 2; 
            background: transparent;
            margin: 0;
            padding: 0;

            & h1 {
                position: absolute;
                top: 190px;
                left: 160px; 
                width: 450px; 
                font-size: 96px;
                line-height: 88px;
                margin: 0;
                color: $color-white; 
                mix-blend-mode: difference; 
            }

            & p {
                position: absolute;
                top: 190px; 
                right: 164px;                 
                width: 350px;
                text-align: left;
                margin: 0;
                color: $color-gray;
            }

            & .black-button {
                position: absolute;
                top: 260px; 
                right: 0px; 
            }
        }
    }
}

.grid-container {
    max-width: 480px;
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0 auto;

    & img {
        height: auto;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    & .first-img {
        margin-bottom: 25px;

        & .grid-img figure {
            margin: 0;
        }
    } 

    & .grid-text {
        margin-bottom: 32px;

        & h2 {
            @include heading-style(M);
            margin-bottom: 16px;
        }

        & p {
            @include body-style(S);
            color: $color-gray;
        }

    }

    & .second-img {

        & img {
            margin-bottom: 16px;
        }

        & .grid-text2 {
            background-color: $color-black;
            padding: 48px 24px 47px 24px;
            margin-bottom: 120px;

            & h2 {
                @include heading-style(M);
                margin-bottom: 16px;
                color: $color-white;
            }

            & p {
                @include body-style(S);
                color: $color-white;
            }
        }
    }

    @include breakpoint(tablet) {
        max-width: 100%; 
        padding: 120px 40px; 
        display: grid;
        grid-template-columns: 1fr 1.5fr; 
        gap: 11px; 
        align-items: start; 

        & .first-img {
            grid-column: 2; 
            grid-row: 1;    
            margin-bottom: 11px; 
            height: 100%;
            
            & .grid-img, & figure, & img {
                height: 100%;
                object-fit: cover;
            }
        }

        & .grid-text {
            grid-column: 1;  
            grid-row: 1;    
            margin-top: 36px;
            margin-right: 68px;
            margin-bottom: 65px;            
            padding-right: 0; 
            text-align: left; 
            
            & h2 {
                font-size: 50px; 
                line-height: 50px;
            }
        }

        & .second-img {
            grid-column: 1 / -1; 
            display: flex; 
            gap: 11px;
            margin-top: 0; 

            & .big-img {
                flex: 1.5; 

                & figure, & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .small-img {
                flex: 1; 
                display: flex;
                flex-direction: column;
                gap: 11px; 

                & figure img {
                    margin-bottom: 0; 
                }

                & .grid-text2 {
                    flex-grow: 1; 
                    margin-bottom: 0; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 40px;
                }
            }
        }
    }

    @include breakpoint(desktop) {
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 180px;
        padding-bottom: 180px;
        display: grid;
        grid-template-columns: 1fr 1.5fr; 
        column-gap: 30px;
        row-gap: 0;
        align-items: start;

        & .grid-text {
            grid-column: 1; 
            grid-row: 1;
            margin-top: 60px;
            margin-right: 95px;
            margin-bottom: 30px;
            padding-right: 0;
            text-align: left; 

            & h2 {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 32px;
            }
            
            & p {
                font-size: 22px;
                line-height: 32px;
            }
        }

        & .first-img {
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 30px;
            height: 400px;
            
            & .grid-img, & figure, & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        & .second-img {
            grid-column: 1 / -1; 
            display: flex; 
            flex-direction: row; 
            gap: 30px; 
            height: 720px;
            margin-top: 0;

            & .big-img {
                flex: 1.5; 
                height: 100%; 
                
                & figure, & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & .small-img {
                flex: 1; 
                display: flex;
                flex-direction: column;
                gap: 30px; 
                height: 100%; 
                justify-content: space-between;

                & figure {
                    flex: 1; 
                    overflow: hidden;
                    
                     & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        margin: 0;
                    }
                }

                & .grid-text2 {
                    flex: 1; 
                    padding: 64px 48px;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    & h2 {
                        font-size: 60px;
                        line-height: 60px;
                        margin-bottom: 32px;
                    }
                    
                    & p {
                        font-size: 22px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}